.container{
    display: grid;
    grid-template-columns: auto-fit minmax(200px, 2fr) 2fr 2fr;
    gap: 2em;
    
   
    

}


.character{
border: 1px solid blue;
margin: 3em 2em;
width: auto;


   
    


}

.data{
    width: 40%;
    background-color: pink;
    

}





.image{
    width: 30%;
    
}