.title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkblue;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,3fr));
    min-height: 100vh;
    text-align: center;
    height:auto;
}


.buttons{
    display:flex;
    justify-content: space-between;
    font-size: 30px;
    margin:  2em;
    
}

.page{
    margin-left: 2em;
}



